body {
	font-size: 12pt;
}

#header {
	text-align: center;
	margin-bottom: 1em;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
}

legend {
	font-size: 120%;
	margin: 10px;
}

textarea {
	font-size: 12pt;
}
.newStyle{
	text-decoration: underline;
	color: green;
}
.backgroundStyle {
	background-image : url(http://www.cs.washington.edu/education/courses/190m/CurrentQtr/labs/6/hundred-dollar-bill.jpg);
}