h1 {
  background-color: #F0F0F0 ;
  font-family: Lucida Sans Unicode, Helvetica, Arial, serif;
  text-decoration: underline;
  font-size: 22px;
  text-align: center;
  color: #A4A400 ;
}

h2 {
  background-color: #F0F0F0 ;
  font-family: Lucida Sans Unicode, Helvetica, Arial, serif;
  font-size: 18px;
  text-decoration: underline;
  text-align: left;
  color: #A4A400 ;
}

body {
  background-color: white;
  color: #404040;
  font-size: 11px;
  font-family: Georgia, Garamond;
  background-image: url("images/silverware.JPG");
}
p.comment {
  background-color:  #FFFFA8;
  font-style: italic;
}

#copyright {
  font-family: monospace;
}